---
import { band } from "../data/band"
---

<footer class="border-t border-white/5 py-8 mt-16">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 text-center text-sm text-[#888888]">
    <p>📷 {band.photoCredit} &nbsp;|&nbsp; Some images ©</p>
  </div>
</footer>
